* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow: hidden;
    /* To prevent Scroll to avoid effect with the trackpad */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* To remove blue outline */
}